{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{setting.title}}</title>
    <link rel="shortcut icon" href="{{setting.logo_site.url}}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body class="bg">
    <header>
    <div class="header">
        <div class="container">
            <div class="header_inner">
            <div class="logo">
                <img src="{{setting.logo_site.url}}" alt="" class="logo">
            </div>
            <div>
                <span id="brg" class="burger_menu"><span></span></span>
                <div id="nav_bar123" class="nav_bar123">
                <ul id="nav" class="nav ">
                    <li class="nav-item"><a href="{%url 'index' %}" class="nav-link">Главная</a></li>
                    <li class="nav-item"><a href="{%url 'about_us' %}" class="nav-link">О нас</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{%url 'changer' %}" class="nav-link">Обмен</a></li>
                    <li class="nav-item"><a href="{%url 'logout' %}" class="nav-link">Выйти</a></li>
                    {% else %}

                    <li class="nav-item"><a href="{%url 'login' %}" class="nav-link">Войти</a></li>
                    <li class="nav-item"><a href="{%url 'register' %}" class="nav-link">Зарегестрироваться</a></li>
                    {% endif %}
                </ul>
            </div>
            </div>
        </div>
        </div>
    </div>
    </header>
    <section>
        <div class="container">
        <div class="ex_top">
            <h1>Обмен</h1>
            <p>В данном разделе вы можете выполнить обмен множества валют по лучшему курсы</p>
        </div>
        <form action="">
        <div class="ex_info">
            <div class="col_ex">
                <h2 class="ttl_ex">Отдаёте:</h2>
                <div class="itc-select" id="select-1">
                    <!-- Кнопка для открытия выпадающего списка -->
                    <button id='btc1'  type="button" class="itc-select__toggle btc_btn" name="car" value="31231" data-select="toggle" data-index="-1">Выберите из списка</button>
                    <!-- Выпадающий список -->
                    <div class="itc-select__dropdown">
                      <ul class="itc-select__options">
                        {%for el in btc %}
                        <li class="itc-select__option" data-select="option" data-value="{{el.price}}" data-index="0">{{el.title}}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <input id="inp1" type="number" class="answ_input" placeholder="min:0.0001 BTC/max 18.9BTC" value>
            </div>
            <div class="col_ex">
                <h2 class="ttl_ex">Получите:</h2>
                <div class="itc-select" id="select-2">
                    <!-- Кнопка для открытия выпадающего списка -->
                    <button id='btc2' type="button" class="itc-select__toggle" name="car" value="" data-select="toggle" data-index="-1">Выберите из списка</button>
                    <!-- Выпадающий список -->
                    <div class="itc-select__dropdown">
                      <ul class="itc-select__options">
                        {%for el in btc %}
                        <li class="itc-select__option" data-select="option" data-value="{{el.price}}" data-index="0">{{el.title}}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>

                  <input id="inp2" type="text" class="answ_input"  placeholder="min:0.0001 BTC/max 18.9 BTC" value>
            </div>
        </div>    
        <div class="answer">
            <div class="chexbox">
            <label for="answ">Я согласен с правилами обмена</label>
            <input type="checkbox" name="answ" id="">
        </div>
        <p>Реквизиты</p>
        <div class="ex_btn">
            <input type="text" name="answ_wallet" id="" placeholder="Введите ваш аддресс кошелька" class="answ_wallet">
            <button class="exchange_btn"><a href="{%url "confirm"%}"> Обмен</a></button>
        </div>
        </div>
    </form>
    </div>
    </section>
    
    <footer class="footer">
        <div class="container">
        <div class="row">
            <div class="ft_col">
                <h3>Основные</h3>
                <div class="df">
                    <a href="{%url 'index' %}">Главная</a>
                    <a href="{%url 'about_us' %}">О нас</a>
                </div>
            </div>
            <div class="ft_col">
                <h3>Профиль</h3>
                <div class="df">
                    <a href="{%url 'login' %}">Вход</a>
                    <a href="{%url 'register' %}">Регистрация</a>
                </div>
            </div>
            <div class="ft_col">
                <h3>Контакты</h3>
                <div class="df">
                    <a href="">info@Capstun-changer.com</a>
                    <a href="">Техподержка</a>
                </div>
            </div>
            <div class="ft_col">
                <h3>Время работы</h3>
                <div class="df">
                    <p href="">24/7</p>
                    <p href="">Техподержка работает с 9:00 до 24:00</p>
                </div>
            </div>
        </div>
    </div>
    </footer>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static '/js/pop_up.js'%}"></script>
</body>
</html>